<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jay.book.admin.module.user.dao.DoubanBookMapper">
  <resultMap id="BaseResultMap" type="com.jay.book.admin.module.user.entity.DoubanBook">
    <id column="table_id" jdbcType="INTEGER" property="tableId" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="book_name" jdbcType="VARCHAR" property="bookName" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="translator" jdbcType="VARCHAR" property="translator" />
    <result column="publishing_house" jdbcType="VARCHAR" property="publishingHouse" />
    <result column="publish_time" jdbcType="DATE" property="publishTime" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="rate_count" jdbcType="INTEGER" property="rateCount" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="img" jdbcType="VARCHAR" property="img" />
  </resultMap>
  <sql id="Base_Column_List">
    table_id, book_id, book_name, type_id, author, translator, publishing_house, publish_time,
    price, score, rate_count, link, img
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from douban_book
    where table_id = #{tableId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from douban_book
    where table_id = #{tableId,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.jay.book.admin.module.user.entity.DoubanBook">
    insert into douban_book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tableId != null">
        table_id,
      </if>
      <if test="bookId != null">
        book_id,
      </if>
      <if test="bookName != null">
        book_name,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="translator != null">
        translator,
      </if>
      <if test="publishingHouse != null">
        publishing_house,
      </if>
      <if test="publishTime != null">
        publish_time,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="rateCount != null">
        rate_count,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="img != null">
        img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tableId != null">
        #{tableId,jdbcType=INTEGER},
      </if>
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="bookName != null">
        #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="translator != null">
        #{translator,jdbcType=VARCHAR},
      </if>
      <if test="publishingHouse != null">
        #{publishingHouse,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=DATE},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="score != null">
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="rateCount != null">
        #{rateCount,jdbcType=INTEGER},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jay.book.admin.module.user.entity.DoubanBook">
    update douban_book
    <set>
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=INTEGER},
      </if>
      <if test="bookName != null">
        book_name = #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="translator != null">
        translator = #{translator,jdbcType=VARCHAR},
      </if>
      <if test="publishingHouse != null">
        publishing_house = #{publishingHouse,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null">
        publish_time = #{publishTime,jdbcType=DATE},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DECIMAL},
      </if>
      <if test="rateCount != null">
        rate_count = #{rateCount,jdbcType=INTEGER},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
    </set>
    where table_id = #{tableId,jdbcType=INTEGER}
  </update>
  <sql id="base_query">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="null != tableId">
         and t.table_id = #{tableId,jdbcType=INTEGER}
      </if>
      <if test="null != bookId">
         and t.book_id = #{bookId,jdbcType=INTEGER}
      </if>
      <if test="null != bookName">
         and t.book_name = #{bookName,jdbcType=VARCHAR}
      </if>
      <if test="null != typeId">
         and t.type_id = #{typeId,jdbcType=INTEGER}
      </if>
      <if test="null != author">
         and t.author = #{author,jdbcType=VARCHAR}
      </if>
      <if test="null != translator">
         and t.translator = #{translator,jdbcType=VARCHAR}
      </if>
      <if test="null != publishingHouse">
         and t.publishing_house = #{publishingHouse,jdbcType=VARCHAR}
      </if>
      <if test="null != publishTime">
         and t.publish_time = #{publishTime,jdbcType=DATE}
      </if>
      <if test="null != price">
         and t.price = #{price,jdbcType=DECIMAL}
      </if>
      <if test="null != score">
         and t.score = #{score,jdbcType=DECIMAL}
      </if>
      <if test="null != rateCount">
         and t.rate_count = #{rateCount,jdbcType=INTEGER}
      </if>
      <if test="null != link">
         and t.link = #{link,jdbcType=VARCHAR}
      </if>
      <if test="null != img">
         and t.img = #{img,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <select id="find" parameterType="com.jay.book.admin.module.user.entity.DoubanBook" resultMap="BaseResultMap">
    select t.* from douban_book t
    <include refid="base_query" />
  </select>
  <select id="list" parameterType="com.jay.book.admin.module.user.entity.DoubanBook" resultMap="BaseResultMap">
    select t.* from douban_book t
    <include refid="base_query" />
  </select>
  <select id="pageList" parameterType="com.jay.book.admin.module.user.entity.DoubanBook" resultMap="BaseResultMap">
    select t.* from douban_book t
    <include refid="base_query" />
  </select>
</mapper>