<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jay.book.admin.dao.LoginLogMapper">
  <resultMap id="BaseResultMap" type="com.jay.book.admin.entity.model.LoginLog">
    <id column="table_id" jdbcType="INTEGER" property="tableId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="client_type" jdbcType="VARCHAR" property="clientType" />
    <result column="client_agent" jdbcType="VARCHAR" property="clientAgent" />
    <result column="karnel_version" jdbcType="VARCHAR" property="karnelVersion" />
    <result column="useragent" jdbcType="VARCHAR" property="useragent" />
    <result column="spend_time" jdbcType="BIGINT" property="spendTime" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    table_id, user_id, ip, location, client_type, client_agent, karnel_version,
    useragent, spend_time,message, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from login_log
    where table_id = #{tableId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from login_log
    where table_id = #{tableId,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.jay.book.admin.entity.model.LoginLog">
    insert into login_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tableId != null">
        table_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="clientType != null">
        client_type,
      </if>
      <if test="clientAgent != null">
        client_agent,
      </if>
      <if test="karnelVersion != null">
        karnel_version,
      </if>
      <if test="useragent != null">
        useragent,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="spendTime != null">
        spend_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tableId != null">
        #{tableId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="clientType != null">
        #{clientType,jdbcType=VARCHAR},
      </if>
      <if test="clientAgent != null">
        #{clientAgent,jdbcType=VARCHAR},
      </if>
      <if test="karnelVersion != null">
        #{karnelVersion,jdbcType=VARCHAR},
      </if>
      <if test="useragent != null">
        #{useragent,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="spendTime != null">
        #{spendTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jay.book.admin.entity.model.LoginLog">
    update login_log
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="clientType != null">
        client_type = #{clientType,jdbcType=VARCHAR},
      </if>
      <if test="clientAgent != null">
        client_agent = #{clientAgent,jdbcType=VARCHAR},
      </if>
      <if test="karnelVersion != null">
        karnel_version = #{karnelVersion,jdbcType=VARCHAR},
      </if>
      <if test="useragent != null">
        useragent = #{useragent,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="spendTime != null">
        spend_time = #{spendTime},
      </if>
    </set>
    where table_id = #{tableId,jdbcType=INTEGER}
  </update>
</mapper>