<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.igeek.admin.dao.LoginLogMapper">
  <resultMap id="BaseResultMap" type="com.igeek.admin.model.entity.LoginLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="device_type" jdbcType="VARCHAR" property="deviceType" />
    <result column="agent_type" jdbcType="VARCHAR" property="agentType" />
    <result column="karnel_version" jdbcType="VARCHAR" property="karnelVersion" />
    <result column="useragent" jdbcType="VARCHAR" property="useragent" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="login_success" jdbcType="INTEGER" property="loginSuccess" />
    <result column="spend_time" jdbcType="BIGINT" property="spendTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, account, create_time, ip, location, device_type, agent_type, karnel_version, 
    useragent, message, login_success, spend_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from login_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from login_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.igeek.admin.model.entity.LoginLog">
    insert into login_log (id, user_id, account, 
      create_time, ip, location, 
      device_type, agent_type, karnel_version, 
      useragent, message, login_success, 
      spend_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{ip,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, 
      #{deviceType,jdbcType=VARCHAR}, #{agentType,jdbcType=VARCHAR}, #{karnelVersion,jdbcType=VARCHAR}, 
      #{useragent,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, #{loginSuccess,jdbcType=INTEGER}, 
      #{spendTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.igeek.admin.model.entity.LoginLog">
    insert into login_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="deviceType != null">
        device_type,
      </if>
      <if test="agentType != null">
        agent_type,
      </if>
      <if test="karnelVersion != null">
        karnel_version,
      </if>
      <if test="useragent != null">
        useragent,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="loginSuccess != null">
        login_success,
      </if>
      <if test="spendTime != null">
        spend_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null">
        #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="agentType != null">
        #{agentType,jdbcType=VARCHAR},
      </if>
      <if test="karnelVersion != null">
        #{karnelVersion,jdbcType=VARCHAR},
      </if>
      <if test="useragent != null">
        #{useragent,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="loginSuccess != null">
        #{loginSuccess,jdbcType=INTEGER},
      </if>
      <if test="spendTime != null">
        #{spendTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.igeek.admin.model.entity.LoginLog">
    update login_log
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null">
        device_type = #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="agentType != null">
        agent_type = #{agentType,jdbcType=VARCHAR},
      </if>
      <if test="karnelVersion != null">
        karnel_version = #{karnelVersion,jdbcType=VARCHAR},
      </if>
      <if test="useragent != null">
        useragent = #{useragent,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="loginSuccess != null">
        login_success = #{loginSuccess,jdbcType=INTEGER},
      </if>
      <if test="spendTime != null">
        spend_time = #{spendTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.igeek.admin.model.entity.LoginLog">
    update login_log
    set user_id = #{userId,jdbcType=INTEGER},
      account = #{account,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      ip = #{ip,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      device_type = #{deviceType,jdbcType=VARCHAR},
      agent_type = #{agentType,jdbcType=VARCHAR},
      karnel_version = #{karnelVersion,jdbcType=VARCHAR},
      useragent = #{useragent,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      login_success = #{loginSuccess,jdbcType=INTEGER},
      spend_time = #{spendTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>