<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.igeek.admin.dao.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.igeek.admin.entity.Permission">
        <id column="table_id" jdbcType="INTEGER" property="tableId"/>
        <result column="node_name" jdbcType="VARCHAR" property="nodeName"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="has_child" jdbcType="BIT" property="hasChild"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="order_id" jdbcType="INTEGER" property="orderId"/>
        <result column="actived" jdbcType="BIT" property="actived"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        table_id, node_name, path, parent_id, has_child, type, order_id, actived, deleted
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from permission
        where table_id = #{tableId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from permission
        where table_id = #{tableId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.igeek.admin.entity.Permission">
        insert into permission (table_id, node_name, path,
        parent_id, has_child, type,
        order_id, actived, deleted)
        values (#{tableId,jdbcType=INTEGER}, #{nodeName,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR},
        #{parentId,jdbcType=INTEGER}, #{hasChild,jdbcType=BIT}, #{type,jdbcType=INTEGER},
        #{orderId,jdbcType=INTEGER}, #{actived,jdbcType=BIT}, #{deleted,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="com.igeek.admin.entity.Permission">
        insert into permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tableId != null">
                table_id,
            </if>
            <if test="nodeName != null">
                node_name,
            </if>
            <if test="path != null">
                path,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="hasChild != null">
                has_child,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="actived != null">
                actived,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tableId != null">
                #{tableId,jdbcType=INTEGER},
            </if>
            <if test="nodeName != null">
                #{nodeName,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="hasChild != null">
                #{hasChild,jdbcType=BIT},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=INTEGER},
            </if>
            <if test="actived != null">
                #{actived,jdbcType=BIT},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.igeek.admin.entity.Permission">
        update permission
        <set>
            <if test="nodeName != null">
                node_name = #{nodeName,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                path = #{path,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="hasChild != null">
                has_child = #{hasChild,jdbcType=BIT},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=INTEGER},
            </if>
            <if test="actived != null">
                actived = #{actived,jdbcType=BIT},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
        </set>
        where table_id = #{tableId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.igeek.admin.entity.Permission">
        update permission
        set node_name = #{nodeName,jdbcType=VARCHAR},
        path = #{path,jdbcType=VARCHAR},
        parent_id = #{parentId,jdbcType=INTEGER},
        has_child = #{hasChild,jdbcType=BIT},
        type = #{type,jdbcType=INTEGER},
        order_id = #{orderId,jdbcType=INTEGER},
        actived = #{actived,jdbcType=BIT},
        deleted = #{deleted,jdbcType=BIT}
        where table_id = #{tableId,jdbcType=INTEGER}
    </update>

    <select id="list" resultType="com.igeek.admin.entity.Permission">
        select
        <include refid="Base_Column_List"/>
        from permission
        <where>
            <if test="tableId != null">
                and table_id = #{tableId,jdbcType=INTEGER},
            </if>
            <if test="nodeName != null">
                and node_name = #{nodeName,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                and path = #{path,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="hasChild != null">
                and has_child = #{hasChild,jdbcType=BIT},
            </if>
            <if test="type != null">
                and type = #{type,jdbcType=INTEGER},
            </if>
            <if test="orderId != null">
                and order_id = #{orderId,jdbcType=INTEGER},
            </if>
            <if test="actived != null">
                and actived = #{actived,jdbcType=BIT},
            </if>
            <if test="deleted != null">
                and deleted = #{deleted,jdbcType=BIT},
            </if>
        </where>
    </select>
</mapper>