<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jay.book.admin.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.jay.book.admin.entity.model.Users">
    <id column="table_id" jdbcType="INTEGER" property="tableId" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    table_id, account, password, mobile, email, sex, icon, user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from users
    where table_id = #{tableId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from users
    where table_id = #{tableId,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.jay.book.admin.entity.model.Users">
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tableId != null">
        table_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tableId != null">
        #{tableId,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="sex != null">
        #{sex},
      </if>
      <if test="icon != null">
        #{icon},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jay.book.admin.entity.model.Users">
    update users
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId},
      </if>
      <if test="sex != null">
        sex = #{sex},
      </if>
      <if test="icon != null">
        icon = #{icon},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
    </set>
    where table_id = #{tableId,jdbcType=INTEGER}
  </update>

  <select id="selectByAccountOrMobile" resultType="com.jay.book.admin.entity.model.Users">
    select
        <include refid="Base_Column_List"/>
    from
        users
    where
        email = #{account}
        or mobile = #{account}
  </select>
    <select id="selectByUserId" resultType="com.jay.book.admin.entity.model.Users">
      select
        <include refid="Base_Column_List"/>
      from
        users
      where
        user_id = #{userId}
    </select>
</mapper>