<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jay.book.admin.dao.DoubanBookTypeMapper">
  <resultMap id="BaseResultMap" type="com.jay.book.module.book.entity.DoubanBookType">
    <id column="table_id" jdbcType="INTEGER" property="tableId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>
  <sql id="Base_Column_List">
    table_id, type, link, count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from douban_book_type
    where table_id = #{tableId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from douban_book_type
    where table_id = #{tableId,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.jay.book.module.book.entity.DoubanBookType">
    insert into douban_book_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tableId != null">
        table_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="count != null">
        count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tableId != null">
        #{tableId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jay.book.module.book.entity.DoubanBookType">
    update douban_book_type
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where table_id = #{tableId,jdbcType=INTEGER}
  </update>
  <sql id="base_query">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="null != tableId">
         and t.table_id = #{tableId,jdbcType=INTEGER}
      </if>
      <if test="null != type">
         and t.type = #{type,jdbcType=VARCHAR}
      </if>
      <if test="null != link">
         and t.link = #{link,jdbcType=VARCHAR}
      </if>
      <if test="null != count">
         and t.count = #{count,jdbcType=INTEGER}
      </if>
    </trim>
  </sql>
  <select id="find" parameterType="com.jay.book.module.book.entity.DoubanBookType" resultMap="BaseResultMap">
    select t.* from douban_book_type t
    <include refid="base_query" />
  </select>
  <select id="list" parameterType="com.jay.book.module.book.entity.DoubanBookType" resultMap="BaseResultMap">
    select t.* from douban_book_type t
    <include refid="base_query" />
  </select>
  <select id="pageList" parameterType="com.jay.book.module.book.entity.DoubanBookType" resultMap="BaseResultMap">
    select t.* from douban_book_type t
    <include refid="base_query" />
  </select>
</mapper>