<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jay.book.admin.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.jay.book.admin.entity.Permission">
    <id column="table_id" jdbcType="INTEGER" property="tableId" />
    <result column="node_name" jdbcType="VARCHAR" property="nodeName" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="has_child" jdbcType="TINYINT" property="hasChild" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="actived" jdbcType="TINYINT" property="actived" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    table_id, node_name, path, parent_id, has_child, type, order_id, actived, deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permission
    where table_id = #{tableId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permission
    where table_id = #{tableId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jay.book.admin.entity.Permission">
    insert into permission (table_id, node_name, path, 
      parent_id, has_child, type, 
      order_id, actived, deleted
      )
    values (#{tableId,jdbcType=INTEGER}, #{nodeName,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=INTEGER}, #{hasChild,jdbcType=TINYINT}, #{type,jdbcType=INTEGER}, 
      #{orderId,jdbcType=INTEGER}, #{actived,jdbcType=TINYINT}, #{deleted,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jay.book.admin.entity.Permission">
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tableId != null">
        table_id,
      </if>
      <if test="nodeName != null">
        node_name,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="hasChild != null">
        has_child,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="actived != null">
        actived,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tableId != null">
        #{tableId,jdbcType=INTEGER},
      </if>
      <if test="nodeName != null">
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="hasChild != null">
        #{hasChild,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="actived != null">
        #{actived,jdbcType=TINYINT},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jay.book.admin.entity.Permission">
    update permission
    <set>
      <if test="nodeName != null">
        node_name = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="hasChild != null">
        has_child = #{hasChild,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="actived != null">
        actived = #{actived,jdbcType=TINYINT},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
    </set>
    where table_id = #{tableId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jay.book.admin.entity.Permission">
    update permission
    set node_name = #{nodeName,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      has_child = #{hasChild,jdbcType=TINYINT},
      type = #{type,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      actived = #{actived,jdbcType=TINYINT},
      deleted = #{deleted,jdbcType=TINYINT}
    where table_id = #{tableId,jdbcType=INTEGER}
  </update>
  <sql id="base_query">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="null != tableId">
         and t.table_id = #{tableId,jdbcType=INTEGER}
      </if>
      <if test="null != nodeName">
         and t.node_name = #{nodeName,jdbcType=VARCHAR}
      </if>
      <if test="null != path">
         and t.path = #{path,jdbcType=VARCHAR}
      </if>
      <if test="null != parentId">
         and t.parent_id = #{parentId,jdbcType=INTEGER}
      </if>
      <if test="null != hasChild">
         and t.has_child = #{hasChild,jdbcType=TINYINT}
      </if>
      <if test="null != type">
         and t.type = #{type,jdbcType=INTEGER}
      </if>
      <if test="null != orderId">
         and t.order_id = #{orderId,jdbcType=INTEGER}
      </if>
      <if test="null != actived">
         and t.actived = #{actived,jdbcType=TINYINT}
      </if>
      <if test="null != deleted">
         and t.deleted = #{deleted,jdbcType=TINYINT}
      </if>
    </trim>
  </sql>
  <select id="find" parameterType="com.jay.book.admin.entity.Permission" resultMap="BaseResultMap">
    select t.* from permission t
    <include refid="base_query" />
  </select>
  <select id="list" parameterType="com.jay.book.admin.entity.Permission" resultMap="BaseResultMap">
    select t.* from permission t
    <include refid="base_query" />
  </select>
  <select id="pageList" parameterType="com.jay.book.admin.entity.Permission" resultMap="BaseResultMap">
    select t.* from permission t
    <include refid="base_query" />
  </select>
</mapper>