<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jay.book.module.admin.dao.PermissionGroupRelationMapper">
  <resultMap id="BaseResultMap" type="com.jay.book.module.admin.entity.PermissionGroupRelation">
    <id column="table_id" jdbcType="INTEGER" property="tableId" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="permission_id" jdbcType="INTEGER" property="permissionId" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
  </resultMap>
  <sql id="Base_Column_List">
    table_id, group_id, group_name, permission_id, permission_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permission_group_relation
    where table_id = #{tableId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permission_group_relation
    where table_id = #{tableId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jay.book.module.admin.entity.PermissionGroupRelation">
    insert into permission_group_relation (table_id, group_id, group_name, 
      permission_id, permission_name)
    values (#{tableId,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, #{groupName,jdbcType=VARCHAR}, 
      #{permissionId,jdbcType=INTEGER}, #{permissionName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jay.book.module.admin.entity.PermissionGroupRelation">
    insert into permission_group_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tableId != null">
        table_id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
      <if test="permissionId != null">
        permission_id,
      </if>
      <if test="permissionName != null">
        permission_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tableId != null">
        #{tableId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="permissionId != null">
        #{permissionId,jdbcType=INTEGER},
      </if>
      <if test="permissionName != null">
        #{permissionName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jay.book.module.admin.entity.PermissionGroupRelation">
    update permission_group_relation
    <set>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="permissionId != null">
        permission_id = #{permissionId,jdbcType=INTEGER},
      </if>
      <if test="permissionName != null">
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
    </set>
    where table_id = #{tableId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jay.book.module.admin.entity.PermissionGroupRelation">
    update permission_group_relation
    set group_id = #{groupId,jdbcType=INTEGER},
      group_name = #{groupName,jdbcType=VARCHAR},
      permission_id = #{permissionId,jdbcType=INTEGER},
      permission_name = #{permissionName,jdbcType=VARCHAR}
    where table_id = #{tableId,jdbcType=INTEGER}
  </update>
  <sql id="base_query">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="null != tableId">
         and t.table_id = #{tableId,jdbcType=INTEGER}
      </if>
      <if test="null != groupId">
         and t.group_id = #{groupId,jdbcType=INTEGER}
      </if>
      <if test="null != groupName">
         and t.group_name = #{groupName,jdbcType=VARCHAR}
      </if>
      <if test="null != permissionId">
         and t.permission_id = #{permissionId,jdbcType=INTEGER}
      </if>
      <if test="null != permissionName">
         and t.permission_name = #{permissionName,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <select id="find" parameterType="com.jay.book.module.admin.entity.PermissionGroupRelation" resultMap="BaseResultMap">
    select t.* from permission_group_relation t
    <include refid="base_query" />
  </select>
  <select id="list" parameterType="com.jay.book.module.admin.entity.PermissionGroupRelation" resultMap="BaseResultMap">
    select t.* from permission_group_relation t
    <include refid="base_query" />
  </select>
  <select id="pageList" parameterType="com.jay.book.module.admin.entity.PermissionGroupRelation" resultMap="BaseResultMap">
    select t.* from permission_group_relation t
    <include refid="base_query" />
  </select>
</mapper>