<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.igeek.book.dao.DoubanMovieCommentsMapper">
  <resultMap id="BaseResultMap" type="com.igeek.book.model.entity.DoubanMovieComments">
    <id column="comment_id" jdbcType="INTEGER" property="commentId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.igeek.book.model.entity.DoubanMovieComments">
    <result column="comment_info" jdbcType="LONGVARCHAR" property="commentInfo" />
    <result column="comment_author" jdbcType="LONGVARCHAR" property="commentAuthor" />
    <result column="commenter_img_url" jdbcType="LONGVARCHAR" property="commenterImgUrl" />
    <result column="comment-vote" jdbcType="LONGVARCHAR" property="commentVote" />
    <result column="comment_movie" jdbcType="LONGVARCHAR" property="commentMovie" />
    <result column="record_id" jdbcType="LONGVARCHAR" property="recordId" />
  </resultMap>
  <sql id="Base_Column_List">
    comment_id
  </sql>
  <sql id="Blob_Column_List">
    comment_info, comment_author, commenter_img_url, comment-vote, comment_movie, record_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from douban_movie_comments
    where comment_id = #{commentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from douban_movie_comments
    where comment_id = #{commentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.igeek.book.model.entity.DoubanMovieComments">
    insert into douban_movie_comments (comment_id, comment_info, comment_author, 
      commenter_img_url, comment-vote, comment_movie, 
      record_id)
    values (#{commentId,jdbcType=INTEGER}, #{commentInfo,jdbcType=LONGVARCHAR}, #{commentAuthor,jdbcType=LONGVARCHAR}, 
      #{commenterImgUrl,jdbcType=LONGVARCHAR}, #{commentVote,jdbcType=LONGVARCHAR}, #{commentMovie,jdbcType=LONGVARCHAR}, 
      #{recordId,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.igeek.book.model.entity.DoubanMovieComments">
    insert into douban_movie_comments
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="commentInfo != null">
        comment_info,
      </if>
      <if test="commentAuthor != null">
        comment_author,
      </if>
      <if test="commenterImgUrl != null">
        commenter_img_url,
      </if>
      <if test="commentVote != null">
        comment-vote,
      </if>
      <if test="commentMovie != null">
        comment_movie,
      </if>
      <if test="recordId != null">
        record_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="commentInfo != null">
        #{commentInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="commentAuthor != null">
        #{commentAuthor,jdbcType=LONGVARCHAR},
      </if>
      <if test="commenterImgUrl != null">
        #{commenterImgUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="commentVote != null">
        #{commentVote,jdbcType=LONGVARCHAR},
      </if>
      <if test="commentMovie != null">
        #{commentMovie,jdbcType=LONGVARCHAR},
      </if>
      <if test="recordId != null">
        #{recordId,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.igeek.book.model.entity.DoubanMovieComments">
    update douban_movie_comments
    <set>
      <if test="commentInfo != null">
        comment_info = #{commentInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="commentAuthor != null">
        comment_author = #{commentAuthor,jdbcType=LONGVARCHAR},
      </if>
      <if test="commenterImgUrl != null">
        commenter_img_url = #{commenterImgUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="commentVote != null">
        comment-vote = #{commentVote,jdbcType=LONGVARCHAR},
      </if>
      <if test="commentMovie != null">
        comment_movie = #{commentMovie,jdbcType=LONGVARCHAR},
      </if>
      <if test="recordId != null">
        record_id = #{recordId,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.igeek.book.model.entity.DoubanMovieComments">
    update douban_movie_comments
    set comment_info = #{commentInfo,jdbcType=LONGVARCHAR},
      comment_author = #{commentAuthor,jdbcType=LONGVARCHAR},
      commenter_img_url = #{commenterImgUrl,jdbcType=LONGVARCHAR},
      comment-vote = #{commentVote,jdbcType=LONGVARCHAR},
      comment_movie = #{commentMovie,jdbcType=LONGVARCHAR},
      record_id = #{recordId,jdbcType=LONGVARCHAR}
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
</mapper>